@{
    ViewData["Title"] = "My Timetable";
}

<h2 style="text-align: center">MY TIMETABLE</h2>
</br>

<a class="btn btn-primary" style="float:right" asp-action="ThreeDay"
   asp-controller="Home" >Next View</a>

<partial name= "_WeekView" />